* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #000000;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: black;
  color: white;
  font-family: "Inter";
}

.container {
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px;
}

.nav-menu.active {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px;
}

.nav-menu.active li {
  font-size: 80px;
}

.nav-link {
  transition: max-height 0.5s ease-out;
}

.nav-link:hover {
  right: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.hero-section {
  min-height: 80vh;
  position: relative;
  background: black;
  margin-top: 1rem;
  overflow: hidden;
}

#hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition: all 0.3s;

  box-shadow: 16px 16px 50px rgba(0, 225, 255, 0.233);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#hero-text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#hero-section::-webkit-scrollbar {
  display: none;
}

#hero-text h1,
#hero-text p {
  font-size: 200px;
  font-weight: 400;
  letter-spacing: 5px;
  white-space: nowrap;
  /* line-height: 50px; */
  /* -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%); */
  transform: translateX(-10%);
  /* -moz-animation: scroll-left 40s linear infinite;
      -webkit-animation: scroll-left 40s linear infinite; */
  animation: scroll-left 20s linear infinite;
}

#hero-text2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  width: 100%;
  height: 100%;
}

#hero-text2 p {
  display: none;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 5px;
  white-space: nowrap;
  position: relative;
  bottom: 1;
  margin-top: 550px;
  animation: scroll-left 10s linear infinite;
}

#skills-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;

  /* border: 10px red dashed; */
}

/* @-moz-keyframes scroll-left {
      0% {
        -moz-transform: translateX(0%);
      }
      100% {
        -moz-transform: translateX(-100%);
      }
    } */
/* 
    @-webkit-keyframes scroll-left {
      0% {
        -webkit-transform: translateX(100%);
      }
      100% {
        -webkit-transform: translateX(-100%);
      }
    } */

@keyframes scroll-left {
  0% {
    /* -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%); */
    transform: translateX(0%);
  }
  100% {
    /* -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%); */
    transform: translateX(-100%);
  }
}

.skills {
  display: flex;
  color: white;
  justify-content: center;
  margin-bottom: 2rem;
}

.skills a {
  background-color: #0a0a0a;
  /* color: #292828; */
  border: 2px #2b2a2a solid;
  border-radius: 30px;
  padding: 12px 20px;
  z-index: 1;
  /* bottom: 0; */
}

.skill-name {
  min-width: 60px;
  padding: 2px;
  margin-right: 20px;
  text-align: center;
}

.work-section {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

.work-section h2 {
  font-size: 100px;
  margin-bottom: 30px;
  margin-left: 30px;
}

#showcase-container {
  display: flex;
  align-items: center;
}

#showcase-container::-webkit-scrollbar {
  display: none;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
}

#showcase::-webkit-scrollbar {
  display: none;
}

.work {
  margin-left: 50px;
  position: relative;
  animation: scroll-left 20s linear infinite;
}

.work-section::-webkit-scrollbar {
  display: none;
}

.work img {
  max-width: 500px;
  /* -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%); */
  transform: translateX(-100%);
  /* -moz-animation: scroll-left 10s linear infinite;
      -webkit-animation: scroll-left 10s linear infinite; */
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.project {
  width: 35rem;
  height: 30rem;
  margin-top: 16rem;
  transform: rotate(12deg) skew(-10deg) scale(1.09);
  cursor: pointer;
  transition: all 0.4s;
  object-fit: cover;
  border-radius: 6px;
}

.project:hover {
  box-shadow: 16px 16px 60px rgba(50, 172, 243, 0.233);
  transform: rotate(0) skewY(0) scale(1.01);
}

.project::-webkit-scrollbar {
  display: none;
}
.project img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

#about-section {
  display: flex;
  min-width: 100px;
  margin: 8rem;
  padding: 10px;
}

.about-section h2 {
  font-size: 50px;
  text-align: center;
}

.about-section p {
  font-size: 30px;
  color: rgb(238, 238, 238);
}

.about-section h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  line-height: 10%;
}

.contact-section h2 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 40px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 70rem; */
  /* height: 50rem; */
}

.contact-me div:first-child {
  /* border: 4px red solid; */
  width: 100%;
  display: grid;
  place-content: center;
}

.contact-me img {
  width: 60%;
  height: auto;
  aspect-ratio: auto;
  margin: 0 auto;
  object-fit: cover;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #000000;
  color: #afadad;
  border: 4px #2b2a2a solid;
  border-radius: 10px;
  margin-top: 8px;
  width: 500px;
  height: 45px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  transition: all 0.9s;
  text-wrap: nowrap;
}

.btn:hover {
  transform: scale(0.95);
  transition: all 0.9s;
}

.btn i {
  margin-right: 6px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  color: #ffffff;
  border-top: 3px #414040 solid;
  margin-top: 1rem;
  padding: 6rem 2rem;
}

.copyright {
  font-size: 20px;
  cursor: pointer;
  padding-left: 8px;
}

.socials i {
  margin-right: 10px;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: 100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #020008;
  width: 100%;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

.nav-menu li {
  align-items: flex-end;
}

.nav-item {
  margin: 16px 0;
  transition: 0.5s ease-in;
}

.nav-item:nth-child(1) {
  transition-delay: 300ms;
}

.nav-item:nth-child(2) {
  transition-delay: 400ms;
}

.nav-item:nth-child(3) {
  transition-delay: 500ms;
}

.nav-menu.active {
  left: 0;
  top: 0;
}

.nav-branding {
  z-index: 4;
}

.hamburger.active {
  z-index: 4;
}

/* media queries */

@media screen and (max-width: 768px) {
  .image {
    width: 25rem;
    height: 25rem;
  }

  nav {
    overflow: hidden;
  }

  .nav-branding {
    font-size: 25px;
  }

  .skill-name {
    margin-right: 10px;
  }

  .hero-section {
    overflow-x: hidden;
  }

  #hero-text p {
    display: none;
    position: relative;
    bottom: 0;
  }

  #hero-text2 p {
    display: flex;
  }

  #skills-container {
    flex-wrap: wrap;
  }

  .skills {
    margin-bottom: 10rem;
  }

  #showcase-section {
    overflow-x: hidden;
  }
  .work-section h2 {
    font-size: 3rem;
  }

  .project {
    max-width: 90vw;
    height: 20rem;
    margin-top: 1rem;
    transform: rotate(0) skew(0deg) scale(1);
    cursor: pointer;
    transition: all 0.2s;
  }

  .project:hover {
    box-shadow: none;
    transform: rotate(0) skew(0) scale(1);
    border: 5px #2b2a2a solid;
  }

  .project img {
    object-fit: fill;
  }

  #about-section {
    margin: 4rem 1rem;
  }

  #about-section p {
    font-size: 1.3rem;
    opacity: 0.9;
  }
  .contact-me img {
    width: 90%;
    height: auto;
    aspect-ratio: auto;
    margin: 0 auto;
    object-fit: cover;
  }

  .contact-section h2 {
    font-size: 50px;
  }

  .btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #000000;
    color: #afadad;
    border: 2px #2b2a2a solid;
    border-radius: 10px;
    /* margin-top: 8px; */
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .btn:hover {
    transform: none;
    transition: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #ffffff;
    border-top: 3px #414040 solid;
    margin-top: 2rem;
    padding: 6rem 2rem;
  }

  .socials {
    margin-top: 8px;
  }
}

@media (max-width: 464px) {
  .showcase {
    grid-template-columns: 1fr;
  }
}
